.index_top_field {
    background-color: #51A8DD;
    z-index: -1;
    height: 60px;
    
    top: 0px;
    left: 0px;
    right: 0px;
    
    position: fixed;
}

.home_button{
    height: 46px;
    width: 100px;
    left: 5px;
    top: 7px;
    
    background-color: #51A8DD;
    border: 2px solid #FCFAF2;

    margin: 0;
    position: fixed;
}

button:hover{
    background-color: #58B2DC;
}

button:active{
    background-color: #72bbdd;
}

.github_button{
    height: 46px;
    width: 100px;
    left: 110px;
    top: 7px;
    
    background-color: #51A8DD;
    border: 2px solid #FCFAF2;

    margin: 0;
    position: fixed;
}