:root {
    --white1: #FCFAF2;
    --yellow1: #F9BF45;
    --blue1: #51A8DD;
    --blue2: #2EA9DF;
    --blue3: #58B2DC;
    --black1: #1C1C1C;
    --text_c: #1C1C1C;
    --background_c: #FCFAF2;
    --border_c: #1C1C1C;
}

/* 黑暗模式顏色設定 */
.dark_mode {
    --text_c: #FCFAF2;
    --background_c: #1C1C1C;
    --border_c: #FCFAF2;
}

body {
    background-color: var(--background_c);
    height: 500px;
    transition: 1s;
}

/* 黑白模式的按鈕 */
#darkmode_toggle {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.darkm_t {
    width: 100px;
    height: 46px;
    border-radius: 46px;

    position: fixed;
    display: block;
    right: 5px;
    top: 5px;

    background-color: var(--blue1);
    border: 2px solid var(--blue1);

    cursor: pointer;
    transition: 0.8s;
}

.darkm_t:hover {
    border: 2px solid var(--background_c);
    transition: 0.8s;
}

.darkm_t:after {
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 36px;

    position: absolute;
    top: 5px;
    left: 5px;

    background-color: var(--background_c);
    transition: 0.8s;
}

#darkmode_toggle:checked + .darkm_t:hover {
    border: 2px solid var(--background_c);
    transition: 0.8s;
} 

#darkmode_toggle:checked + .darkm_t:after {
    left: 95px;
    transform: translateX(-100%);
    background-color: var(--background_c);
    border: var(--border_c);
    transition: 0.8s;
}

/* darkmode toggle icon set */
label svg {
    position: fixed;
    top: 13px;
    z-index: 10;

    transition: 0.8s;
}

label svg.sun {
    right: 68px;
}
label svg.sun path {
    stroke: var(--yellow1);
}
#darkmode_toggle:checked + label svg.sun path{
    stroke: var(--blue1);

    transition: 0.8s;
}

label svg.moon {
    right: 14px;
}
label svg.moon path {
    stroke: var(--blue1);
    fill: none;
}
#darkmode_toggle:checked + label svg.moon path {
    stroke: var(--yellow1);
    fill: var(--yellow1);
    
    transition: 0.8s;
}
/* darkmode toggle icon set */

/* 黑白模式的按鈕 */

.index_top_field {
    background-color: var(--blue1);
    z-index: -1;
    height: 60px;
    
    top: 0px;
    left: 0px;
    right: 0px;
    
    position: fixed;
}



.home_button{
    height: 46px;
    width: 100px;
    left: 5px;
    top: 7px;
    
    background-color: var(--blue1);
    border: 2px solid var(--blue1);

    margin: 0;
    position: fixed;

    transition: 0.8s;
}
.home_button:hover{
    border: 2px solid var(--background_c);
    transition: 0.8s;
}
.home_button:active{
    background-color: var(--blue3);
}

.github_button{
    height: 46px;
    width: 100px;
    left: 110px;
    top: 7px;
    
    background-color: var(--blue1);
    border: 2px solid var(--blue1);

    margin: 0;
    position: fixed;

    transition: 0.8s;
}
.github_button:hover{
    border: 2px solid var(--background_c);
    transition: 0.8s;
}
.github_button:active{
    background-color: var(--blue3);
}

.simple_word_card {
    width: 240px;
    height: 300px;
    border-radius: 30px;

    top: 100px;
    position: relative;

    border: 5px solid var(--border_c);
}



h2 {
    color: var(--blue1);
    display: flex;
    justify-content: center;
    
}

p {
    color: var(--text_c);
    display: flex;
    justify-content: center;
}

.mem_card_game_btn,
.type_text_game_btn {
    width: 400px;
    height: 80px;

    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;

    font-size:large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: var(--blue1);
    border: 2px solid var(--border_c);
}

.mem_card_game_btn:hover,
.type_text_game_btn:hover {
    background-color: var(--yellow1);
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: 0.5s;
}